/* Set the color, background color, and font family for the body */
body {
    color: #000;
    background-color: #D6FFEE;
    font-family: 'Trade Gothic LT W01 Roman', Serif;
  }
   /* Responsive layout for small screens */
  @media (max-width: 480px) {
    body {
      font-size: 16px;
      margin: 0;
    }
    #content {
      padding: 0;
    }
  }
   /* Responsive layout for medium screens */
  @media (min-width: 768px) {
    body {
      font-size: 20px;
    }
  }
   /* Responsive layout for large screens */
  @media (min-width: 992px) {
    body {
      font-size: 24px;
    }
  }
   /* Responsive layout for extra large screens */
  @media (min-width: 1200px) {
    body {
      font-size: 28px;
    }
  }
   /* Styling for the content section */
  #content {
    max-width: 650px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5%;
  }
   /* Styling for the heading in the content section */
  #content h1 {
    font-size: 200%;
    margin-bottom: 10px;
  }
   /* Styling for the paragraphs in the content section */
  #content p {
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 410;
    letter-spacing: 0.1em;
  }
   /* Styling for links in the content section */
  #content a {
    color: #000;
    transition: color 0.2s;
  }
   /* Styling for links on hover in the content section */
  #content a:hover {
    color: #668B7C;
  }
   /* Styling for the social media icons section */
  .social-media {
    display: flex;
    justify-content: space-between;
    max-width: 650px;
    margin: 20px auto 5%;
    padding: 20px;
    margin-bottom: 15%;
  }
   /* Styling for social media links */
  .social-media a {
    color: #000;
    text-decoration: none;
    padding: 0;
    border-radius: 5px;
    background-color: #D6FFEE;
  }
   /* Styling for social media links on hover */
  .social-media a:hover {
    color: #D6FFEE;
  }
   /* Styling for social media icons */
  .social-media i {
    margin-right: 10px;
    font-size: 120%;
  }